
:root {

  --PrimaryColor: rgb(255, 220, 45);
  --SecondaryColor: rgba(0, 0, 0, .9);
  scroll-behavior: smooth;
}

.header {
 background-color: black
}

.card {
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  text-align: center;
  border: solid 5px black;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  padding: 10px;

}
.card > .img-container > img {
  width: 90%;
  border: solid, 2px, black;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.title {
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

body {
background-color: white;
margin: 0px;
overflow-x: hidden;
}

h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Jura', sans-serif;
}

.button {
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--SecondaryColor);
  background-color: var(--PrimaryColor);
  border: solid 2px black;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  }

.button:hover {
  background-color: rgb(38, 38, 38);
  box-shadow: 0px 20px 29px rgba(30, 30, 3, 0.4);
  color:var(--PrimaryColor);
  transform: translateY(-7px);
  outline: none !important;
}

/* hero section  */

.hero {
  background-color: var(--PrimaryColor);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 130px;
  margin-bottom: 40px;
} 

.heroCopy {
  color: var(--SecondaryColor);
  margin-bottom: 60px;
}

.heroCopy p {
  font-size: 2.5vh;
  font-weight: 500;
}

.heroPhoto img {
  position: relative;
  top: -55px;
  height: 33vh;
  border-radius: 220px 125px 229px 125px;
  border: solid var(--SecondaryColor) 5px;
  margin: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;


}

/*About me section*/

/* .about-me {
padding: 60px 0px 80px 0px;
}

.about-me-container {
display: flex;
justify-content: center;
align-items: center;
padding: 50px 100px 40px 100px;
}

.about-me h2 {
color: var(--SecondaryColor);
padding-top: 60px;
text-align: center;
}

.about-me-container img {
width: 35vh;
justify-content: center;
align-items: center;
}

.about-me-container p {
color: var(--SecondaryColor);
font-size: 2.2vh;
} */
