
:root {

  --PrimaryColor: rgb(135, 182, 189);
  --SecondaryColor: rgba(0, 0, 0, .9);
  background-color: var(--PrimaryColor);
}

.header {
 background-color: var(--PrimaryColor);
 border-bottom: 0px;
 margin: 0px;
 margin-bottom: -1px !important;
 padding-left: 30px;
 padding: 10px
}
.header li {
  padding: 10px;
}


.card {
  border-radius: 2px;
  margin: 2rem;
  text-align: center;

}

.card > .img-container > img {
  height: 150px;
  padding: 10px
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
}

.card > .content > ul {
  list-style-type: none;
  text-decoration: none;
}

.card > .content > ul > li {
  margin-top: 18px;
  text-decoration: none !important
}

.title {
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
  text-transform: uppercase
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: underline !important;;
}
a:active {
  text-decoration: underline !important;;
}

h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Jura', sans-serif;
}

.button {
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: var(--SecondaryColor);
  background-color: var(--PrimaryColor);
  border: solid 2px black;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  }

.button:hover {
  background-color: rgb(38, 38, 38);
  box-shadow: 0px 20px 29px rgba(30, 30, 3, 0.4);
  transform: translateY(-7px);
}

/* hero section  */

.hero {
  background-color: var(--PrimaryColor);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

.heroCopy {
  color: var(--SecondaryColor);
  margin-bottom: 60px;
}

.heroCopy p {
  font-size: 2.5vh;
  font-weight: 500;
}

.heroPhoto img {
  position: relative;
  top: -55px;
  height: 33vh;
  border-radius: 220px 125px 229px 125px;
  border: solid var(--SecondaryColor) 5px;
  margin: 20px;
  padding: 10px;
}

.project-container {
  background-color: var(--PrimaryColor);
  height: 100vh;
} 

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--PrimaryColor);
}

